* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background: #eef5fb;
  padding: 40px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  margin-bottom: 30px;
}

header h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

header p {
  color: #666;
}

.form {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
}

input {
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
}

.buttons {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
}

button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  color: white;
}

#addBtn {
  background: #2563eb;
}
#showBtn {
  background: #16a34a;
}
#nextBtn {
  background: #9333ea;
}
#searchBtn {
  background: #f59e0b;
}
#removeBtn {
  background: #dc2626;
}
#clearBtn {
  background: #475569;
}

.queue,
.stats {
  background: white;
  padding: 30px;
  border-radius: 20px;
  margin-top: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.patient {
  padding: 16px;
  border-bottom: 1px solid #eee;
}

.patient:last-child {
  border: none;
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: #f8fafc;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.card p {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .form {
    grid-template-columns: 1fr;
  }

  .buttons {
    grid-column: span 1;
    grid-template-columns: 1fr;
  }

  .stats {
    grid-template-columns: 1fr;
  }
}
