* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background: #eef3f8;
  padding: 40px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  margin-bottom: 30px;
}

header h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

header p {
  color: #666;
}

.form {
  background: white;
  padding: 30px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
}

.input-box {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: 600;
}

input,
select {
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
}

.buttons {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

#addBtn {
  background: #2563eb;
}
#showBtn {
  background: #16a34a;
}
#summaryBtn {
  background: #9333ea;
}
#clearBtn {
  background: #dc2626;
}

.summary,
.stats {
  background: white;
  padding: 30px;
  border-radius: 20px;
  margin-top: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.student {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: #f8fafc;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 28px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .form {
    grid-template-columns: 1fr;
  }

  .buttons {
    grid-template-columns: 1fr;
  }

  .stats {
    grid-template-columns: 1fr;
  }
}
